<!-- Screen: Wireframe - 29 (498:154) -->
<div id="screen-wireframe-29-498-154" class="screen">
  <!-- Top bar Frame 133 -->
  <div id="frame-502-395" class="container style-73" style="left:0px; top:0px; width:1920px; height:60px;">
    <!-- Inner Frame 144 -->
    <div id="frame-502-396" class="container" style="left:505px; top:14px; width:1390px; height:32px;">
      <!-- Group with icon -->
      <div id="group-502-397" class="container style-162" style="left:1699px; top:0px; width:32px; height:32px;">
        <div id="icon-502-398" class="icon style-71" style="left:0px; top:0px; width:32px; height:32px;"></div>
      </div>
      <!-- settings icon frame -->
      <div id="frame-502-399" class="container style-1" style="left:1781px; top:0px; width:32px; height:32px;">
        <div id="icon-502-400" class="icon style-17" style="left:11px; top:11px; width:10px; height:10px;"></div>
        <div id="icon-502-401" class="icon style-17" style="left:2.429px; top:1.668px; width:27.142px; height:28.667px;"></div>
      </div>
      <!-- power icon frame -->
      <div id="frame-502-402" class="container style-1" style="left:1863px; top:0px; width:32px; height:32px;">
        <div id="icon-502-403" class="icon style-24" style="left:3.210px; top:3.223px; width:25.580px; height:25.560px;"></div>
      </div>
    </div>
  </div>

  <!-- Header strip Frame 145 -->
  <div id="frame-514-425" class="container style-159" style="left:0px; top:60px; width:1920px; height:67px;">
    <div id="frame-523-427" class="container style-108" style="left:31px; top:0px; width:134px; height:67px;">
      <p class="text typo-71" style="left:10px; top:18.5px; width:114px; height:32px;">Dashboard</p>
    </div>
    <div id="frame-523-428" class="container style-75" style="left:249px; top:9px; width:95px; height:49px;">
      <p class="text typo-72" style="left:10px; top:9px; width:75px; height:29px;">Config</p>
    </div>
    <div id="frame-523-431" class="container style-75" style="left:418px; top:9px; width:146px; height:49px;">
      <p class="text typo-72" style="left:10px; top:9px; width:126px; height:29px;">Test Suites</p>
    </div>
    <div id="frame-523-434" class="container style-75" style="left:638px; top:9px; width:131px; height:49px;">
      <p class="text typo-72" style="left:10px; top:9px; width:111px; height:29px;">Execution</p>
    </div>
    <p id="text-539-140" class="text typo-72" style="left:853px; top:18px; width:66px; height:29px;">Users</p>
  </div>

  <!-- Breadcrumb group -->
  <div id="group-528-443" class="container" style="left:73px; top:147px; width:184.5px; height:49px;">
    <div id="frame-528-440" class="container style-73" style="left:0px; top:0px; width:144px; height:49px;">
      <p class="text typo-42" style="left:10px; top:10px; width:124px; height:29px;">Dashboard</p>
    </div>
    <div id="icon-528-442" class="icon style-77" style="left:144.5px; top:0.5px; width:40px; height:48px;"></div>
  </div>

  <!-- Logo rectangle (image 2) -->
  <div id="rect-527-148" class="rectangle" style="left:6px; top:7px; width:185px; height:46px;"></div>

  <!-- KPI cards row -->
  <div id="frame-502-339" class="container style-161" style="left:61px; top:216px; width:395px; height:139px;">
    <p class="text typo-71" style="left:24px; top:28px; width:118px; height:32px;">Test Suites</p>
    <p class="text typo-79" style="left:24px; top:67px; width:41px; height:39px;">20</p>
    <div id="frame-502-342" class="container style-1" style="left:299px; top:38px; width:60px; height:60px;">
      <div id="icon-502-344" class="icon style-101" style="left:5px; top:5px; width:50px; height:50px;"></div>
      <div id="icon-502-343" class="icon style-69" style="left:17.5px; top:25px; width:25px; height:10px;"></div>
    </div>
  </div>

  <div id="frame-502-346" class="container style-161" style="left:532px; top:216px; width:395px; height:139px;">
    <p class="text typo-71" style="left:24px; top:28px; width:97px; height:32px;">Executed</p>
    <p class="text typo-70" style="left:24px; top:67px; width:35px; height:39px;">15</p>
    <div id="frame-532-140" class="container style-1" style="left:307px; top:37px; width:60px; height:60px;">
      <div class="icon style-102" style="left:35.167px; top:3.332px; width:21.500px; height:21.500px;"></div>
      <div class="icon style-68" style="left:4.633px; top:17.660px; width:30.683px; height:17.340px;"></div>
      <div class="icon style-68" style="left:3.333px; top:28.801px; width:15.000px; height:26.967px;"></div>
      <div class="icon style-68" style="left:21.667px; top:28.816px; width:15.000px; height:26.950px;"></div>
      <div class="icon" style="left:0px; top:0px; width:60px; height:60px;"></div>
    </div>
  </div>

  <div id="frame-514-415" class="container style-161" style="left:1000px; top:214px; width:395px; height:139px;">
    <p class="text typo-71" style="left:24px; top:28px; width:71px; height:32px;">Passed</p>
    <p class="text typo-70" style="left:24px; top:67px; width:35px; height:39px;">15</p>
    <div id="frame-514-418" class="container style-1" style="left:322px; top:39px; width:60px; height:60px;">
      <div class="icon style-101" style="left:5px; top:5px; width:50px; height:50px;"></div>
      <div class="icon style-69" style="left:19.375px; top:22.926px; width:21.25px; height:14.150px;"></div>
    </div>
  </div>

  <div id="frame-502-353" class="container style-161" style="left:1466px; top:216px; width:395px; height:139px;">
    <p class="text typo-71" style="left:24px; top:28px; width:109px; height:32px;">Scheduled</p>
    <p class="text typo-70" style="left:24px; top:67px; width:20px; height:39px;">5</p>
    <div id="frame-503-173" class="container style-1" style="left:324px; top:39px; width:60px; height:60px;">
      <div class="icon" style="left:0px; top:0px; width:60px; height:60px;"></div>
      <div class="container" style="left:7.5px; top:5px; width:45px; height:47.5px;">
        <div class="icon style-68" style="left:0px; top:0px; width:45px; height:47.5px;"></div>
      </div>
    </div>
  </div>

  <!-- Left big analytics frame Frame 137 -->
  <div id="frame-499-175" class="container style-163" style="left:61px; top:388px; width:866px; height:647px;">
    <!-- Chart groups and labels simplified but positioned -->
    <div class="group" style="left:365.253px; top:429.0px; width:185.044px; height:247.215px;">
      <div class="icon style-88" style="left:0px; top:53.602px; width:185.044px; height:193.613px;"></div>
      <div class="icon style-89" style="left:0px; top:0px; width:185.044px; height:197.773px;"></div>
      <p class="text typo-108" style="left:49.955px; top:39.273px; width:59.338px; height:60.297px;">12%</p>
    </div>
    <div class="group" style="left:365.604px; top:479.0px; width:257.086px; height:193.617px;">
      <div class="icon style-90" style="left:0px; top:83.059px; width:257.086px; height:110.558px;"></div>
      <div class="icon style-89" style="left:0px; top:0px; width:257.086px; height:144.170px;"></div>
    </div>
    <div class="group" style="left:365.253px; top:261.657px; width:270.316px; height:147.615px;">
      <div class="icon style-91" style="left:265.527px; top:61.113px; width:4.788px; height:86.502px;"></div>
      <div class="icon style-92" style="left:0px; top:61.113px; width:265.528px; height:86.502px;"></div>
      <div class="icon style-93" style="left:0px; top:0px; width:270.316px; height:98.174px;"></div>
      <p class="text typo-108" style="left:197.841px; top:34.359px; width:41.756px; height:60.297px;">8%</p>
    </div>
    <div class="group" style="left:365.253px; top:322.773px; width:265.528px; height:175.508px;">
      <div class="icon style-94" style="left:208.282px; top:37.059px; width:57.246px; height:138.449px;"></div>
      <div class="icon style-95" style="left:0px; top:0px; width:208.282px; height:175.508px;"></div>
      <div class="icon style-96" style="left:0px; top:0px; width:265.528px; height:126.065px;"></div>
      <p class="text typo-108" style="left:173.566px; top:47.981px; width:41.756px; height:60.297px;">8%</p>
    </div>
    <div class="group" style="left:95.0px; top:429.695px; width:478.598px; height:444.989px;">
      <div class="icon style-97" style="left:0px; top:197.773px; width:478.598px; height:247.216px;"></div>
      <div class="icon style-98" style="left:0px; top:0px; width:478.598px; height:395.546px;"></div>
      <p class="text typo-108" style="left:106.0px; top:200.305px; width:59.338px; height:60.297px;">64%</p>
    </div>

    <div class="group" style="left:595.884px; top:429.891px; width:340.409px; height:183.677px;">
      <div class="icon" style="left:0px; top:0px; width:340.409px; height:183.677px;"></div>
      <div class="group" style="left:0px; top:0px; width:340.409px; height:24.616px;">
        <div class="icon" style="left:0px; top:0px; width:340.409px; height:24.616px;"></div>
        <div class="icon style-99" style="left:0px; top:0px; width:26.185px; height:24.616px;"></div>
      </div>
      <div class="group" style="left:0px; top:39.766px; width:340.409px; height:24.616px;">
        <div class="icon" style="left:0px; top:0px; width:340.409px; height:24.616px;"></div>
        <div class="icon style-86" style="left:0px; top:0px; width:26.185px; height:24.616px;"></div>
      </div>
      <div class="group" style="left:0px; top:79.532px; width:340.409px; height:24.616px;">
        <div class="icon" style="left:0px; top:0px; width:340.409px; height:24.616px;"></div>
        <div class="icon style-87" style="left:0px; top:0px; width:26.185px; height:24.616px;"></div>
      </div>
      <div class="group" style="left:0px; top:119.294px; width:340.409px; height:24.616px;">
        <div class="icon" style="left:0px; top:0px; width:340.409px; height:24.616px;"></div>
        <div class="icon style-100" style="left:0px; top:0px; width:26.185px; height:24.616px;"></div>
      </div>
    </div>

    <p class="text typo-74" style="left:672.648px; top:446.840px; width:132.079px; height:8.146px;">Scheduled</p>
    <p class="text typo-74" style="left:672.648px; top:487.566px; width:76.252px; height:15.128px;">Failed</p>
    <p class="text typo-74" style="left:672.648px; top:527.133px; width:84.421px; height:13.964px;">Passed</p>
    <p class="text typo-74" style="left:672.648px; top:560.586px; width:95.314px; height:15.128px;">Executed</p>

    <p class="text typo-76" style="left:318.0px; top:8.0px; width:198px; height:40px;">Test Suites</p>

    <!-- Dropdown in left frame -->
    <div class="dropdown style-74" style="left:90px; top:15px; width:212px; height:37px;">
      <p class="text typo-84" style="left:10px; top:5px; width:155px; height:27px;">Select</p>
      <div class="icon style-107" style="left:175px; top:13.5px; width:19.5px; height:10px;"></div>
    </div>
  </div>

  <!-- Right analytics Frame 138/139 stacked: render Frame 139 on top -->
  <div id="frame-502-239" class="container style-163" style="left:1004px; top:390px; width:862px; height:647px;">
    <!-- Dropdown -->
    <div class="dropdown style-74" style="left:27px; top:18px; width:212px; height:37px;">
      <p class="text typo-84" style="left:10px; top:5px; width:155px; height:27px;">Select</p>
      <div class="icon style-107" style="left:175px; top:13.5px; width:19.5px; height:10px;"></div>
    </div>
    <!-- Axis labels -->
    <p class="text typo-73" style="left:102px; top:497px; width:45px; height:15px;">4G</p>
    <p class="text typo-73" style="left:252px; top:497px; width:45px; height:12px;">5G</p>
    <p class="text typo-73" style="left:422px; top:493px; width:51px; height:15px;">SMF</p>
    <p class="text typo-73" style="left:559px; top:491px; width:51px; height:15px;">ORAN</p>
    <!-- Legend top-right -->
    <p class="text typo-74" style="left:630px; top:59px; width:47px; height:11px;">Passed</p>
    <p class="text typo-74" style="left:630px; top:33px; width:47px; height:11px;">Failed</p>

    <!-- Grid + bars main group approx -->
    <div class="group" style="left:27.107px; top:121.023px; width:712.912px; height:440.172px;">
      <!-- grid lines -->
      <div class="icon style-80" style="left:0px; top:414.871px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-80" style="left:0px; top:332.234px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-80" style="left:0px; top:249.597px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-80" style="left:0px; top:165.273px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-80" style="left:0px; top:82.637px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-80" style="left:0px; top:0px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-81" style="left:0px; top:372.711px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-81" style="left:0px; top:290.074px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-81" style="left:0px; top:207.433px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-81" style="left:0px; top:124.797px; width:674.962px; height:1.686px;"></div>
      <div class="icon style-81" style="left:0px; top:42.160px; width:674.962px; height:1.686px;"></div>
      <!-- bottom axis -->
      <div class="icon style-84" style="left:0px; top:414.871px; width:674.962px; height:1.686px;"></div>

      <!-- bars (two series) -->
      <div class="icon style-82" style="left:32.528px; top:268.152px; width:51.503px; height:146.723px;"></div>
      <div class="icon style-82" style="left:200.590px; top:242.855px; width:51.503px; height:172.021px;"></div>
      <div class="icon style-82" style="left:370.009px; top:96.119px; width:51.503px; height:318.744px;"></div>
      <div class="icon style-82" style="left:538.072px; top:60.705px; width:51.503px; height:354.160px;"></div>

      <div class="icon style-83" style="left:85.387px; top:251.285px; width:51.503px; height:163.588px;"></div>
      <div class="icon style-83" style="left:253.450px; top:217.558px; width:51.503px; height:197.318px;"></div>
      <div class="icon style-83" style="left:422.868px; top:0.000px; width:51.503px; height:362.593px;"></div>
      <div class="icon style-83" style="left:590.931px; top:49.891px; width:51.503px; height:313.685px;"></div>
    </div>

    <!-- Y axis labels group -->
    <div class="group" style="left:27.107px; top:121.023px; width:20.330px; height:440.172px;">
      <p class="text typo-75" style="left:9.487px; top:414.875px; width:10.843px; height:25.297px;">0</p>
      <p class="text typo-75" style="left:9.487px; top:331.898px; width:10.843px; height:25.297px;">5</p>
      <p class="text typo-75" style="left:0.000px; top:248.922px; width:20.330px; height:25.297px;">10</p>
      <p class="text typo-75" style="left:0.000px; top:165.949px; width:20.330px; height:25.297px;">15</p>
      <p class="text typo-75" style="left:0.000px; top:82.968px; width:20.330px; height:25.297px;">20</p>
      <p class="text typo-75" style="left:0.000px; top:0.000px; width:20.330px; height:25.297px;">25</p>
    </div>

    <!-- Additional labels seen near bottom/right frame -->
    <p class="text typo-74" style="left:122.0px; top:561.0px; width:80px; height:26px;">4G</p>
    <p class="text typo-74" style="left:302.0px; top:561.0px; width:84.406px; height:27.308px;">5G</p>
    <p class="text typo-74" style="left:472.0px; top:561.0px; width:84.406px; height:27.308px;">ORAN</p>
    <p class="text typo-74" style="left:611.0px; top:563.0px; width:80px; height:26px;">SMF</p>

    <!-- Right-side mini stacked bars as in left frame -->
    <div class="group" style="left:778.834px; top:33.746px; width:142.311px; height:57.340px;">
      <div class="icon" style="left:0px; top:0px; width:142.311px; height:57.340px;"></div>
      <div class="group" style="left:0px; top:0px; width:142.311px; height:21.924px;">
        <div class="icon" style="left:0px; top:0px; width:142.311px; height:21.924px;"></div>
        <div class="icon style-86" style="left:0px; top:0px; width:35.239px; height:21.924px;"></div>
      </div>
      <div class="group" style="left:0px; top:35.414px; width:142.311px; height:21.924px;">
        <div class="icon" style="left:0px; top:0px; width:142.311px; height:21.924px;"></div>
        <div class="icon style-87" style="left:0px; top:0px; width:35.239px; height:21.924px;"></div>
      </div>
    </div>

    <!-- Frame title on right frame -->
    <p class="text typo-76" style="left:352.0px; top:13.0px; width:179px; height:34px;">Test Cases</p>
    <p class="text typo-74" style="left:336.0px; top:596.0px; width:178px; height:24px;">Category</p>
  </div>
</div>
